#top{
	position:relative;
	margin-top:-10px;
	margin-right:auto;
	margin-left:auto;
	width:80%;
	height:240px;
	opacity:0.7;
	background-image:url("../img/dark.png");
	background-repeat:repeat;
}
#round{
	position:relative;
	margin-top:-12%;
	margin-left:auto;
	margin-right:auto;
	width:150px;
	height:150px;
	background-color:white;
	border:2px solid white;
	border-radius:100%;
	
}
.links{
	width:100%;
	height:60px;
	background-color:white;
	opacity:0.2;
	margin:auto;
}
.logo{
	position:relative;
	margin-top:9px;
	margin-left:auto;
	margin-right:auto;
}

.aboutt{
	position:relative;
	margin-top:10px;
	margin-right:auto;
	margin-left:auto;
	height:800px;
	width:50%;
}
.about{
	text-align: left;
	font-family:Calibri Light;
	font-size:200%;


}
p{
	text-align: left;
	font-family:Calibri Light;
	font-size:130%;
}
span{
	font-family:Calibri Light;
	font-size:120%;
}

#bottom{
	height:20px;
	background-image:url("../img/dark.png");
	background-repeat:repeat;
	width:80%;
	margin-top:-10px;
	margin-right:auto;
	margin-left:auto;
	opacity:0.7;
}
.rights{
	text-align:right;
	font-family:Calibri Light;
	font-size:90%;
	color:white;
}

a{
	text-decoration:none;
	color:black;
}

a:hover{
	color:white;
}
body{
	background-image: url("../img/vlrr.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

}