@font-face {
  font-family: 'MyFont';
  src: url('../fonts/MyFont.woff') format('woff');
}

h1 {
	font-weight: bold;
	font-family: 'MyFont';
	color:#ffffff;
	font-size: 400%;
	position: absolute;
	left:40%;
	text-decoration: underline;
	text-shadow: 5px 5px 3px black
}
body {
    background-image: url("../img/dark.png");
    background-repeat: repeat;
}
h4 {
    position: absolute;
    top: 50%;
	left:43%;
    color: white;
	font-size:130%
}
img {
	opacity:0.5;
    position: absolute;
    top: 180px;
	color: black;
	}
img.img1 {
	left: 50%;
    
}
img.img2 {
    left: 60%;   
}
img.img3 {
    left: 40%;
}
img.img4 {
    left: 45%;
}
img.img5 {
    left: 55%;
}
img:hover{
	opacity:1.0;
	}