@font-face {
  font-family: 'worldofwater';
  src: url('../fonts/worldofwater.woff') format('woff');
}

#container{
	position:absolute;
	bottom:0;
    top:0;
    left:0;
    right:0;
	width:100%;
	height:10%;
	text-align:center;
	vertical-align: center;
	background-color: #003c30;
	clear:both;
	z-index: 9999;
}

#container li{
	display: inline;
	padding: 0px 20px 0px 20px;
	  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
    -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}
#container li a{
	font-family:Calibri Light;
	font-size:120%;
	text-decoration:none;
	text-align:center;
	line-height:70px;
	color: #fff;
}

#container .green .active{
	font-family:Calibri Light;
	font-size:130%;
	text-decoration:none;
	text-align:center;
	line-height:70px;
	color: #fff;
	font-weight: bold;
}

#container .yellow .active{
	font-family:Calibri Light;
	font-size:130%;
	text-decoration:none;
	text-align:center;
	line-height:70px;
	color: #fff;
	font-weight: bold;
}
#container .red .active{
	font-family:Calibri Light;
	font-size:130%;
	text-decoration:none;
	text-align:center;
	line-height:70px;
	color: #fff;
	font-weight: bold;
}

#container .row .nav .nactive:hover{
	text-decoration: underline;
}

span{
	text-decoration:none;
	color: #fff;
	font-weight: bold;
	font-family: Calibri Light;
}
.robi{
	text-decoration:none;
	color: #fff;
	font-weight: bold;
	font-family: Calibri Light;
}

/* SOCIAL TABS*/

.social{
	position:absolute;
	top:25%;
	z-index: 999;

}
.social .img1{
	position:absolute;
	 width: 40px;
    height: 40px;
	-webkit-transition: padding 0.3s; /* For Safari 3.1 to 6.0 */
    transition: padding 0.3s;

}

.social .img2{
	position:absolute;
	top: 45px;
	 width: 40px;
    height: 40px;
	-webkit-transition: padding 0.3s; /* For Safari 3.1 to 6.0 */
    transition: padding 0.3s;
}

.social .img3{
	position:absolute;
	top: 90px;
	 width: 40px;
    height: 40px;
	-webkit-transition: padding 0.3s; /* For Safari 3.1 to 6.0 */
    transition: padding 0.3s;
}
.social .img4{
	position:absolute;
	top: 135px;
	 width: 40px;
    height: 40px;
	-webkit-transition: padding 0.3s; /* For Safari 3.1 to 6.0 */
    transition: padding 0.3s;
}
.social .img5{
	position:absolute;
	top: 180px;
	 width: 40px;
    height: 40px;
	-webkit-transition: padding 0.3s; /* For Safari 3.1 to 6.0 */
    transition: padding 0.3s;
}
.img1:hover{
	padding: 0px 10px 0px 10px;
}
.img2:hover{
	padding: 0px 10px 0px 10px;
}
.img3:hover{
	padding: 0px 10px 0px 10px;
}
.img4:hover{
	padding: 0px 10px 0px 10px;
}
.img5:hover{
	padding: 0px 10px 0px 10px;
}
#middle-page{
	position: absolute;
	width: 50%;
	height: auto;
}
.welcome{
	position: absolute;
    top:10%;
    left:0;
    right:0;
    width:100%;
	height:50%;
	position:;
	color:#003441;
 	 filter: blur(5px);
	background-image: url("../img/blue22.png");
	background-repeat: repeat;
	text-align: center;
	clear: left;
}
.headingtwo{
	font-family: 'worldofwater';
	font-weight: bold;
	font-size: 7em;
	vertical-align: middle;
	color:#fff;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: bounceInUp;
          animation-name: bounceInUp;
}

.underline{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top:2px;
	height: 2px;
	width: 15em;
	background-color: #fff;
	  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: bounceInUp;
          animation-name: bounceInUp;
}

.about1{
	font-size: 1.5em;
	font-family: Calibri Light;
	padding: 20px 30px 30px 30px;
	color:#fff;
	  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: bounceInUp;
          animation-name: bounceInUp;
}
.middone-green{
	position: absolute;
	bottom:0;
    top:60%;
    left:0;
    right:0;
    width:100%;
	height:auto;
	background-color:rgb(53, 151, 143);
	color:#fff;
	text-align: justify;
	z-index: 999;
}
.middone-yellow{
	position: absolute;
	bottom:0;
    top:10%;
    left:0;
    right:0;
    width:100%;
	height:20%;
	background-color:#01665e;
	color:#fff;
		z-index: 9999;
}
.middone-red{
	position: absolute;
	bottom:0;
    top:10%;
    left:0;
    right:0;
    width:100%;
	height:30%;
	background-color:#01665e;
	color:#fff;
		z-index: 9999;
}
h1{
	font-family: Calibri;
	padding: 20px;
		  -webkit-animation-duration: 1s;
          animation-duration: 1s;
	  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
}
.about{
	font-size: 130%;
	font-family: Calibri Light;
	padding: 0px 20px 20px 20px;
	word-wrap: break-word;
			  -webkit-animation-duration: 1s;
          animation-duration: 1s;
	  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
}

.contact{
	list-style-type: none;
}
.empty-atm{
	position: absolute;
	bottom:0;
    top:40%;
    left:0;
    right:0;
    width:100%;
	height:auto;
	background-color:#35978f;
	color:#fff;

}



/*PORTOFOLIO IMAGES */

.prtf-list{
	position: absolute;
    top: 30%;
    bottom:0;
    left: 0;
    right:0;
	width: 100%;
	height: auto;
	background-color:#35978f;
}


ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
	  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: bounceInUp;
          animation-name: bounceInUp;

}

ul.img-list li {
  display: inline-block;
  height: 300px;
  width: 300px;
  position: relative;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  bottom:0;
  left: 0;
  right:0;
  margin: 5px;
    border: 1px solid #003c30;
}
span.text-content {
  background: rgba(0,0,0,0.9);
  color: white;
  cursor: pointer;
  display: table;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;

}

span.text-content {
  background: rgba(0,0,0,0.7);
  color: white;
  cursor: pointer;
  display: table;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
.imgtxt{
	color: #fff;
	text-decoration: none;
	font-family: Calibri Light;
	font-size: 110%;
	padding: 130px 80px 130px 80px;

}

/*FINIGH */

#footer{
	width:100%;
	height:3em;
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	top:100%;
	bottom:0;
	left:0;
	right: 0;
	background-color:#003c30;
	text-align: center;
	color: #fff;
}
#footer .row2 .nav2 .link2{
	display: inline;
	list-style-type: none;
	text-decoration: none;
}
.link2a{
	text-decoration: none;
	color:#fff;
	font-family: Calibri Light;
}
.link2a:hover{
	text-decoration: underline;
}
.link3a{
	font-family:Calibri Light;
	font-size:90%;
	color:#fff;
}

body{
  overflow-x: hidden;
}

/*MODAL DIALBOX*/

.modalDialog{
	position: fixed;
	font-family: Calibri;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 700px;
	height: 700px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
}


.close {
	background: #6c6565;
	line-height: 15px;
	position: absolute;
	right: -20px;
	text-align: center;
	top: 4px;
	width: 40px;
	font-family: Arial, Helvetica, sans-serif;
;
}

.close:hover { background: #D56464; }
