@font-face {
  font-family: 'worldofwater';
  src: url('../fonts/worldofwater.woff') format('woff');
}

#container{
	position:absolute;
	margin-top: -10px;
	margin-left: auto;
	margin-right: auto;
	bottom:0;
    top:0;
    left:0;
    right:0;
	width:50%;
	height:100px;
	background-color:rgba(0, 0, 0, 0.9);
	text-align:center;
	vertical-align:center;
	box-shadow: 0px 10px 50px 10px rgba(0,0,0, 0.8);
}
#container li{
	display: inline;
	padding: 0px 20px 0px 20px;
}
#container li a{
	font-family:Calibri Light;
	font-size:120%;
	text-decoration:none;
	text-align:center;
	line-height:70px;
	color: #fff;
}

#container .green .active{
	font-family:Calibri Light;
	font-size:120%;
	text-decoration:none;
	text-align:center;
	line-height:70px;
	color: #fff;
	background-color: #a69056;
	padding: 40px 20px 50px 20px;
}

#container .yellow .active{
	font-family:Calibri Light;
	font-size:120%;
	text-decoration:none;
	text-align:center;
	line-height:70px;
	color: #fff;
	background-color: #917543;
	padding: 40px 20px 50px 20px;
}
#container .red .active{
	font-family:Calibri Light;
	font-size:120%;
	text-decoration:none;
	text-align:center;
	line-height:70px;
	color: #fff;
	background-color: #ceba7d;
	padding: 40px 20px 50px 20px;
}

#container .row .nav .nactive:hover{
	background-color: rgba(255, 255, 255, 0.2);
	padding: 40px 20px 50px 20px;

}

span{
	text-decoration:none;
	color: #fff;
	font-weight: bold;
	font-family: Calibri Light;
}
.robi{
	text-decoration:none;
	color: #fff;
	font-weight: bold;
	font-family: Calibri Light;
}

/* SOCIAL TABS*/
.social{
	margin-left: -10px;
	position:fixed;
	top: 40%;
}
.social .img1{
	 position: absolute;
	 	width: 50px;
    height: 50px;
    background-color: #000;
	-webkit-transition: padding 0.3s; /* For Safari 3.1 to 6.0 */
    transition: padding 0.3s;

}
.social .img2{
	 position: absolute;
	 margin-top: 50px;
	 	width: 50px;
    height: 50px;
    background-color: #3B5A9A;
	-webkit-transition: padding 0.3s; /* For Safari 3.1 to 6.0 */
    transition: padding 0.3s;
}
.social .img3{
	 position: absolute;
	 margin-top: 100px;
	 	width: 50px;
    height: 50px;
    background-color: #5280A5;
	-webkit-transition: padding 0.3s; /* For Safari 3.1 to 6.0 */
    transition: padding 0.3s;
}
.social .img4{
	 position: absolute;
	 margin-top: 150px;
	 	width: 50px;
    height: 50px;
    background-color: #CD2129;
	-webkit-transition: padding 0.3s; /* For Safari 3.1 to 6.0 */
    transition: padding 0.3s;
}
.social .img5{
	 position: absolute;
	 margin-top: 200px;
	 	width: 50px;
    height: 50px;
    background-color: #29A9E1;
    box-shadow: -1px 13px 24px -10px rgba(0,0,0,0.9);
	-webkit-transition: padding 0.3s; /* For Safari 3.1 to 6.0 */
    transition: padding 0.3s;
}
.img1:hover{
	padding: 0px 0px 0px 10px;
}
.img2:hover{
	padding: 0px 0px 0px 10px;
}
.img3:hover{
	padding: 0px 0px 0px 10px;
}
.img4:hover{
	padding: 0px 0px 0px 10px;
}
.img5:hover{
	padding: 0px 0px 0px 10px;
}

#middle-page{
	position: absolute;
	width: 50%;
	height: auto;
}
.welcome{
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	bottom:0;
    top:82px;
    left:0;
    right:0;
    width:50%;
	height:500px;
	background-image: url("../img/space.png");
	position:;
	color:#003441;
	border-top: 20px solid #a69056;
	text-align: center;
	box-shadow: 0px 35px 54px 3px rgba(0,0,0, 0.8);
}
.headingtwo{
	font-family: 'worldofwater';
	font-weight: bold;
	font-size: 500%;
	vertical-align: middle;
	color:#000;

}

.underline{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top:10px;
	height: 2px;
	width: 250px;
	background-color: #a69056;
}

.about1{
	font-size: 160%;
	font-family: Calibri Light;
	padding: 0px 30px 30px 30px;
	color:#000;
}
.middone-green{
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	bottom:0;
    top:600px;
    left:0;
    right:0;
    width:50%;
	height:300px;
	background-color:rgba(0, 0, 0, 0.9);
	color:#fff;
	border-top: 5px solid #a69056;
	text-align: justify;
	box-shadow: 0px 35px 54px 3px rgba(0,0,0, 0.8);
}
.middone-yellow{
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	bottom:0;
    top:82px;
    left:0;
    right:0;
    width:50%;
	height:200px;
	background-color:rgba(0, 0, 0, 0.9);
	color:#fff;
	border-top: 20px solid #917543;
	box-shadow: 0px 35px 54px 3px rgba(0,0,0, 0.8);
}
.middone-red{
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	bottom:0;
    top:82px;
    left:0;
    right:0;
    width:50%;
	height:400px;
	background-color:rgba(0, 0, 0, 0.9);
	color:#fff;
	border-top: 20px solid #ceba7d;
	box-shadow: 0px 35px 54px 3px rgba(0,0,0, 0.8);
}
h1{
	font-family: Calibri;
	padding: 20px;
}
.about{
	font-size: 130%;
	font-family: Calibri Light;
	padding: 0px 20px 20px 20px;
}

.contact{
	list-style-type: none;
}



/*PORTOFOLIO IMAGES */

.prtf-list{
	position: absolute;
    top: 302px;
    margin-left: auto;
    margin-right: auto;
    bottom:0;
    left: 0;
    right:0;
	width: 50%;
	height: 85%;
	background-color:rgba(0, 0, 0, 0.9);
	border-top: 5px solid #917543;
	box-shadow: 0px 35px 54px 3px rgba(0,0,0, 0.8);
}


ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 300px;
  width: 300px;
  position: relative;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  bottom:0;
  left: 0;
  right:0;
  margin: 5px;
}
span.text-content {
  background: rgba(0,0,0,0.8);
  color: white;
  cursor: pointer;
  display: table;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;

}

span.text-content {
  background: rgba(0,0,0,0.8);
  color: white;
  cursor: pointer;
  display: table;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
.imgtxt{
	color: #fff;
	text-decoration: none;
	font-family: Calibri Light;
	font-size: 110%;
	padding: 130px 80px 130px 80px;

}

/*FINIGH */

#footer{
	width:50%;
	height:50px;
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	top:130%;
	bottom:0;
	left:0;
	right: 0;
	clear: top;
	background-color: rgba(0,0,0, 0.9);
	text-align: center;
	color: #fff;
	box-shadow: 0px 35px 54px 3px rgba(0,0,0, 0.8);
}
#footer .row2 .nav2 .link2{
	display: inline;
	list-style-type: none;
	text-decoration: none;
}
.link2a{
	text-decoration: none;
	color:#fff;
	font-family: Calibri Light;
}
.link2a:hover{
	text-decoration: underline;
}
.link3a{
	font-family:Calibri Light;
	font-size:90%;
	color:#fff;
}

body{

	background:url("../img/coffe.png") no-repeat, url("../img/wood.png") repeat;
	position: center;

}

/*MODAL DIALBOX*/

.modalDialog{
	position: fixed;
	font-family: Calibri;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 700px;
	height: 750px;
	border: 5px solid #111;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	background: rgba(0,0,0, 0.9);
}


.close {
	background: #585858;
	color: #fff;
	line-height: 25px;
	position: absolute;
	right: -35px;
	text-align: center;
	top: 1px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	font-size: 120%;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0, 0.9);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0, 0.9);
	box-shadow: 1px 1px 2px rgba(0,0,0, 0.9);
}

.close:hover { background: #D56464; }