@font-face {
  font-family: 'worldofwater';
  src: url('../fonts/worldofwater.woff') format('woff');
}

#container{
	position:absolute;
	margin-top: -10px;
	margin-left: auto;
	margin-right: auto;
	bottom:0;
    top:0;
    left:0;
    right:0;
	width:50%;
	height:100px;
	background-color:rgba(0, 0, 0, 0.9);
	text-align:center;
	vertical-align:center;
    border-radius: 10px;
}
#container li{
	display: inline;
	padding: 0px 20px 0px 20px;
}
#container li a{
	font-family:Calibri Light;
	font-size:120%;
	text-decoration:none;
	text-align:center;
	line-height:70px;
	color: #fff;
}

#container .green .active{
	font-family:Calibri Light;
	font-size:120%;
	text-decoration:none;
	text-align:center;
	line-height:70px;
	color: #fff;
	background-color: #003441;
	padding: 40px 20px 50px 20px;
}

#container .yellow .active{
	font-family:Calibri Light;
	font-size:120%;
	text-decoration:none;
	text-align:center;
	line-height:70px;
	color: #fff;
	background-color: #f1d38a;
	padding: 40px 20px 50px 20px;
}
#container .red .active{
	font-family:Calibri Light;
	font-size:120%;
	text-decoration:none;
	text-align:center;
	line-height:70px;
	color: #fff;
	background-color: #e79367;
	padding: 40px 20px 50px 20px;
}


span{
	text-decoration:none;
	color: #fff;
	font-weight: bold;
	font-family: Calibri Light;
}
.robi{
	text-decoration:none;
	color: #fff;
	font-weight: bold;
	font-family: Calibri Light;
}

.social{
	margin-left: -10px;
	position:fixed;
	top: 40%;
}
.social .img1{
	 position: absolute;
}
.social .img2{
	 position: absolute;
	 margin-top: 50px;
}
.social .img3{
	 position: absolute;
	 margin-top: 100px;
}
.social .img4{
	 position: absolute;
	 margin-top: 150px;
}
.img1:hover{
	padding: 0px 10px 0px 10px;
}
.img2:hover{
	padding: 0px 10px 0px 10px;
}
.img3:hover{
	padding: 0px 10px 0px 10px;
}
.img4:hover{
	padding: 0px 10px 0px 10px;
}

#middle-page{
	position: relative;
	width: 50%;
	height: auto;
}
.welcome{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	bottom:0;
    top:82px;
    left:0;
    right:0;
    width:50%;
	height:300px;
	background-color:rgba(0, 0, 0, 0.9);
	color:#fff;
	border-top: 20px solid #003441;
	text-align: center;
}
.headingtwo{
	font-family: 'worldofwater';
	font-weight: bold;
	font-size: 500%;
}
.underline{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	height: 2px;
	width: 200px;
	background-color: #0d3f40;
}
.middone-green{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	bottom:0;
    top:82px;
    left:0;
    right:0;
    width:50%;
	height:auto;
	background-color:rgba(0, 0, 0, 0.9);
	color:#fff;
	border-top: 10px solid #003441;
		text-align: justify;
}
.middone-yellow{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	bottom:0;
    top:82px;
    left:0;
    right:0;
    width:50%;
	height:200px;
	background-color:rgba(0, 0, 0, 0.9);
	color:#fff;
	border-top: 20px solid #f1d38a;
}
.middone-red{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	bottom:0;
    top:82px;
    left:0;
    right:0;
    width:50%;
	height:auto;
	background-color:rgba(0, 0, 0, 0.9);
	color:#fff;
	border-top: 20px solid #e79367;
}
h1{
	font-family: Calibri;
	padding: 20px;
}
.about{
	font-size: 130%;
	font-family: Calibri Light;
	padding: 0px 20px 20px 20px;

}
.contact{
	list-style-type: none;
}



#middle .portofolio {
	position: relative;
	width: 50%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	top: 82px;
	border-top: 10px solid #f1d38a;
	background-color: rgba(0, 0, 0, 0.9);
	box-decoration-break: none;
}

td:hover{
	background-color:rgba(234, 194, 99, 0.5);
}

#footer{
	width:100%;
	height:1px;
	position:absolute;
	bottom:0;
	left:0;
	color: #fff;
}

.rights{
	text-align:right;
	font-family:Calibri Light;
	font-size:90%;
	color:#fff;
}


body{

	background-image: url("../img/ps1.jpg");
	background-repeat: repeat;

}