body {
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

.bg {
    padding: 120px;
    background-image: url('lucky.png');
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}